.mainScreen {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
}

.mainScreen__content {
    background-color: beige;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}